<html>

  <head>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="react-tabulator/tabulator_bootstrap.min.css">
    <link rel="stylesheet" href="react-tabulator/styles.css">
    <link rel="stylesheet" href="fancy.css">

    <title>KSWIC Access eForms Printer Updater</title>
  </head>
  <body>
    <div id="root">If you see this then something is wrong.</div>
    <script src="browser-bundle.js"></script>
  </body>
</html>
